body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

.flex div a, .flex2 div a {
    color: #1d1e20;
}

h1 {
    text-align: center;
    margin: 50px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}



.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px
}

.valor, p, .btn {
    padding: 5px;
}

.valor {
    font-weight: 600;
    padding: 5px;
}

.btn {
    font-weight: 900;
    background-color: #359e35;
    border: none;
    padding: 13px;
    border-radius: 10px;
}

.row {
    margin-bottom: 5%;
    position: relative;
}

span {
    color: #1114d8;
    text-decoration: none;
}

h6 {
    color: #1d1e20!important;
    font-size: 1rem;
    font-weight: 600;
}

.ecom {
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}